* {
    margin: 0;
    padding: 0;
}
/*必须，关系到单个page能否全屏显示*/
html,
body {
    height: 100%;
    overflow: hidden;
}
h3.title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 60px;
    color: #2F4D5B;
}
label.line{
    display: block;
    background-color: #7EA9AF;
    width: 300px;
    height: 3px;
    margin: 5px auto 40px auto;
}

#container,
.sections,
.section {
    /*必须，兼容，在浏览器不支持transform属性时，通过改变top/left完成滑动动画*/
    position: relative;
    /*必须，关系到单个page能否全屏显示*/
    height: 100%;
}
.section {
    /*有背景图时必须，关系到背景图能够全屏显示*/
    background-color: #ffffff;
    background-size: cover;
    background-position: 50% 50%;
}
/*非必需，只是用来设置背景图，id不会被插件用到*/
#section0 {
    background-image: url("images/chengdu1.jpg");    
    opacity: 0.88;
}
.start{
    margin-top: 16%;
    text-align: center;
}
.start #begin{
    color: white;
    font-size: 90px;
    font-family: '华文行楷','华文宋体';
    text-decoration: none;
}
.start p{
    color:white;
    font-size: 35px;
    font-family: '华文行楷','华文宋体';
    margin-top: 10px;
}
.start #btn{
    height: 60px;
    width: 60px;
    background: #ffffff;
    border-radius: 30px;
    line-height: 60px;
    margin-top: 100px;  
}
#btn_1{
    width:0;
    height: 0;
    margin-top:20px;
    margin-left: 9px;
    border-width:20px;
    border-color:#9f9f9f transparent transparent transparent;
    border-style:solid dashed dashed dashed;
}
#mask{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

#section1 {
    background: #F0F4FA;
}
#begining #begin_word{
    width:60%;
    margin-left: 20%;
    line-height: 1.5;
}
#begining #begin_word h1{
    margin-top:15%;
    font-size: 45px;
    text-align: center;
    font-family: '楷体';
}

#section2 {
    background: #F0F4FA;
}