body{
	margin:0;
	background-color: #fff;
}
.header_1 #topmenu{
	position: absolute;
	right: 20%;
	top:40px;
	height: 40px;
}
.header_1 #topmenu ul{
	list-style: none;
}
.header_1 #topmenu ul>li{
	display: inline;
	text-decoration: none;
	padding: 23px;
	font-size: 16px;
}
.header_1 #topmenu ul li a{
	padding: 15px;
}
.header_1 #topmenu ul li a:link{
	text-decoration: none;
	color: #006666;
}
.header_1 #topmenu ul li a:visited{
	text-decoration: none;
	color:#003366;
}
.header_1 #topmenu ul li a:hover{
	text-decoration: none;
	background: linear-gradient(to left, #003366,#003366) left top no-repeat, 
                linear-gradient(to bottom, #003366,#003366) left top no-repeat, 
                linear-gradient(to left, #003366,#003366) right top no-repeat,
                linear-gradient(to bottom, #003366,#003366) right top no-repeat, 
                linear-gradient(to left, #003366,#003366) left bottom no-repeat,
                linear-gradient(to bottom,#003366,#003366) left bottom no-repeat,
                linear-gradient(to left,#003366,#003366) right bottom no-repeat,
                linear-gradient(to left, #003366,#003366) right bottom no-repeat;
    background-size: 1px 10px, 10px 1px, 1px 10px, 10px 1px;  
	color:#003366;
}
.example {
	position: relative;
	top: 100px;
	width: 100%;
	height: 760px;
	font-size: 40px;
	text-align: center;
	background-color: #fff;
}
.carousel-item{line-height: 760px;color: #fff;font-family:  Arial Black}
ul,
ol,
li,
div {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

.ft-carousel {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.ft-carousel .carousel-inner {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}

.ft-carousel .carousel-inner .carousel-item {
	float: left;
	height: 100%;
}

.ft-carousel .carousel-item img {
	width: 100%;
	height: 760px;
}

.ft-carousel .carousel-indicators {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 0;
}

.ft-carousel .carousel-indicators span {
	display: inline-block;
	width: 12px;
	height: 12px;
	background-color: #fff;
	margin: 0 4px;
	border-radius: 50%;
	cursor: pointer;
}

.ft-carousel .carousel-indicators span.active {
	background-color: #de3a3a;
}

.ft-carousel .carousel-btn {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 45px;
	margin-top: -25px;
	cursor: pointer;
}

.ft-carousel .carousel-prev-btn {
	left: 0;
	z-index: 3;
	background: url(../images/pre.png) no-repeat;
}

.ft-carousel .carousel-next-btn {
	right: 0;
	background: url(../images/next.png) no-repeat;
}

#food_word{
	margin-top: 200px;
	font-size: 30px;
	text-align: center;
	font-family: '楷体';
}
#food_word h1{
	color: #9f9f9f;
}

.food_con .food_content{
	width: 80%；
	height:auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 60px;
}

.food_con .food_content .f_item{
	display: inline-block;
	width: 300px;
	height: auto;
	padding: 10px;
	border:dashed solid #9f9f9f 1px;
	border-radius: 16px;
	margin:15px;
	background-color: #CCCCCC;
}

.food_con .food_content .f_item img{
	width: 250px;
	height: 300px;
	padding:25px;
}

.food_con .food_content .f_item p{
	margin-left: 5px;
	margin-right: 5px;
}
.footer{
	margin-top: 60px;
	background-color: #CCCCCC;
	width: 100%;
	height: 40px;
}
.footer p{
	margin-left: 100px;
	color: #333333;
	margin-top: 20px;
}

