body{
	margin:0;
	background: #f0f0f0;
}
#header{
	width: 100%;
	height: 30px;
	background-color:#006600;
}
/*-- TopBar--*/
#topbar a:link {
 text-decoration: none;
 color:#ffffff;
}
#topbar a:visited {
 text-decoration: none;
 color:#ffffff;
}
#topbar a:hover {
 text-decoration: none;
 background-color:#006600;
	color:#9f9f9f;
}
#topbar a:active {
 text-decoration: none;
}
#topbar{
	z-index:1000;
	background: #006600;
	/*border-bottom: 1px solid;*/
}
#topbar #title{
	margin-left: 80px;
	display: inline-block;
	width: 35%;
}
#topbar #title h1 a{
	font-family:'华文新魏';
	color:#ffffff;
	font-size: 40px;
	padding-left: 65px;
}
#topbar #title p{
	color:#408080;
	font-size: 20px;
	padding-left: 55px;
}
nav #navigation{
	margin-right: 150px;
	float: right;
}
nav ul{
	margin-top:30px;
	list-style: none;
}
nav ul>li{
	display:inline;
	
	font-size: 15px;
}
nav ul li a{
	font-family: '黑体';
	padding:10px;
}
/*topImg*/
#topimage{  
    width:100%;  
    height:450px;  
    position:relative;  
    background:#f1f1f1;  
}  
#topimage a{  
        width:40px;  
        height:40px;  
        background:#9f9f9f;  
        position:absolute;  
        top:175px;    
        text-align:center;  
        text-decoration:none;  
        line-height:40px;  
        color:#fff;  
        font-size:30px;  
        font-weight:bold;  
        filter:alpha(opacity:60);  
        opacity:0.6;  
        z-index: 1;
}  
#topimage a:hover{  
    //兼容IE  
    filter:alpha(opacity:90);  
    opacity:0.9;  
}  
#prev{  
    left:6px;  
}  
#next{  
    right:6px;  
}  
#text{  
    position:absolute;  
    left:0;  
    width:100%;  
    height:450px;  
    line-height:30px;  
    text-align:center;  
    color:#051e28;  
    background:#000;  
    opacity:0.6;  
    margin:0;  
    filter:alpha(opacity:30);  
    opacity:0.3;  
}  
#text{  
    bottom:0;  
}  
#span1{  
    top:0;  
}  
#img1{  
    width:100%;  
    height:450px;  
}  
/*content*/
#content h1{
	color: #006600;
	text-align: center;
	font-family: '黑体';
	font-size: 50px;
}
#content #content_1{
	display: inline-block;
}
#content p{
	margin-left: 100px;
	margin-right: 500px;
	padding-left: 20px;
	line-height: 150%;
}
#content img{
	width: 300px;
	height: 150px;
	float: right;
}